*{
    margin: 0px;
    padding: 0px;
   
}
h1{
    font-family: 'Dancing Script', cursive;   
}
.carousel-item img{
    width: 100vw;
    height: 80vh;
}
.aliimg{
    width: 350px;

}
.card-body img{
    width: 200px;
   display: flex;
   margin: auto;
border-radius: 107px;
border: 1px solid blue;

}
.btn1 a{
    display: flex;
    margin: auto;
}
.button {
    display: flex;
    width: auto;
    height: 40px;
   justify-content: center;
   align-items: center;
text-decoration: none;
border-radius: 12px;
border: 2px solid black;
}
#time{
    
 
    font-weight: bolder;
  
    font-size: 20px;
    color: wheat;
   
    border-radius: 15px;
    
}